@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Roboto+Slab:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(217359812_1058590928007825_8854552662449924374_n.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

canvas{
    position: absolute;
    top:0;
    left:0;
}
h1{
    font-family: 'Corinthia', cursive;
    font-size: 100px;
    text-align: center;
    margin: 10px;
    color: rgb(104, 17, 17);
 
    
}
img{
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: grid;
    height: 30rem;
    width: 500px;
}
